* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #00141a;
    color: #839495;
}

#tags button {
    padding: 0 10px;
    background: transparent;
    color: #5a7f8f;
    border-bottom: 2px solid transparent;
}

#tags button.focused {
    color: #839495;
    border-bottom: 2px solid #47adf5;
}

#tags button.occupied {
    color: #4a7085;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}

#battery.charging {
    color: #b7fa00;
}

#battery.warning {
    color: #ffbf00;
}

#battery.critical {
    color: #f65351;
}

#network.disconnected {
    color: #f65351;
}

#cpu {
    padding: 0 10px;
}

#cpu.warning {
    color: #ffbf00;
}

#cpu.critical {
    color: #f65351;
}

